.places {
    margin-top: 30px;
}

.places_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.places_box {
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.places_box span {
    font-weight: 700;
    font-size: 1.25rem;
    opacity: .9;
    transition: all .3s ease;
}

.places_image-wrapper {
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    height: 240px;
}

@media screen and (max-width: 768px) {
    .places_box {
        flex: 0 0 50%;
        margin-bottom: 25px;
        text-align: center;
    }
}